/* ==========================================================================
   TRELLO MULTIBOARD APP
   ========================================================================== */

/* HTML/STRUCTURE */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

/* CONTAINER */
.container-fluid {
    padding-bottom: 90px;
}

/* FOOTER */
.footer {
    position: absolute;
    bottom: 0;
    max-height: 100px;
    min-height: 60px;
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    background-color: #f5f5f5;
}

/* CARDS */
.card {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.card, .card-block {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* AUTH */
.loggedin { display: inherit; }


/* ELEMENTS */
p.card-members {
    margin: 15px 0 15px 0;
}
.card-members img {
    max-width: 40px;
    margin-right: 5px;
}

.scrollup {
    width:      30px;
    height:     30px;
    position:   fixed;
    bottom:     10px;
    right:      30px;
    display:    none;
}

.github {
    padding-right: 30px;
}

.footer-text {
    margin-top: 25px;

}